/* Login and Signup CSS */
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.App {
  text-align: center;

}

.App-logo {
  height: auto;
  pointer-events: none;
  width: 50%
  
}

@media (prefers-reduced-motion: no-preference) {
  h3 {
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
    animation-iteration-count: 1;
    
  }
}


@media (prefers-reduced-motion: no-preference) {
  img {
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
    animation-iteration-count: 1;
     flex-direction: row;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  max-width: 100%;
  height: auto;
  width: 50%;

}
.App-header-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .Navbar-footer {
	background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: right;
    z-index: 999;
	padding: 5vh;
} */

/* .menu-bar {
	border-radius: 25px;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(0, 0, 0, .4);
	-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
	align-items: center;
	padding: 0 10px;
	margin: 50px 0 0 0;
} */

.App-link {
  color: #11CAE9;
}

* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background: #f6f5f7;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;

	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

.hypergamy-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Fleur De Leah', cursive;
  font-size: 3rem;
  height: auto;
}

img {
max-width: 100%;
height: auto;
width: 50%;
color: #11CAE9
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.login-button {
	border-radius: 20px;
	border: 1px solid #11CAE9;
	background-color: #11CAE9;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.signup-button {
	border-radius: 20px;
	border: 1px solid #11CAE9;
	background-color: #ffffff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

/* button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
} */

.login-position{
	width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.login-input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.login-container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.login-form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.login-overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .login-overlay-container{
	transform: translateX(-100%);
}

.login-overlay {
	background: #11CAE9;
	background: -webkit-linear-gradient(to right, #11CAE9, #11CAE9);
	background: linear-gradient(to right, #11CAE9, #11CAE9);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .login-overlay {
  	transform: translateX(50%);
}

.login-overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.login-overlay-left {
	transform: translateX(-20%);
}

.login-container.right-panel-active .login-overlay-left {
	transform: translateX(0);
}

.login-overlay-right {
	right: 0;
	transform: translateX(0);
}

.login-container.right-panel-active .login-overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}



  .navbar-container {
    margin: 0 auto;
    padding: 0 15px;
    top: 0;
    display: flex;
    justify-content: space-between;
  }
  .header-area {
	background: #11CAE9;
	z-index: 999;
	position: sticky;
    top: 0;
	
  }
  /* default css end */
  
  
  /* navbar regular css start */
  .navbar-area {
	background: #11CAE9;
	border-bottom: 1px solid #000;
	margin: 0;
	box-sizing: border-box;
  }
  .site-navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
  }
  a.site-logo {
	font-size: 26px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
  }
  .site-navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
  }
  .site-navbar ul li a {
	color: #000000;
	padding: 20px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
	background: rgba(255,255,255,.1);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
	border: 3px solid #fff;
	padding: 5px;
	background-color: transparent;
	cursor: pointer;
	height: 39px;
	display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
	width: 28px;
	height: 3px;
	background-color: #fff;
	display: block;
	transition: .3s;
  }
  .nav-toggler span:before {
	content: '';
	transform: translateY(-9px);
  }
  .nav-toggler span:after {
	content: '';
	transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
	background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
	transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
	transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
	height: calc(100vh - 61px);
	display: flex;
	align-items: center;
	text-align: center;
	color: #fff;
  }
  .intro-area h2 {
	font-size: 50px;
	font-weight: 300;
	line-height: 50px;
	margin-bottom: 25px;
  }
  .intro-area p {
	font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
	.container {
	  max-width: 720px;
	}
	/* navbar css for mobile start */
	.nav-toggler{
	  display: block;
	}
	.site-navbar {
	  min-height: 60px;
	}
	.site-navbar ul {
	  position: absolute;
	  width: 100%;
	  height: calc(100vh - 60px);
	  left: 0;
	  top: 60px;
	  flex-direction: column;
	  align-items: center;
	  border-top: 1px solid #444;
	  background-color: rgba(0,0,0,.75);
	  max-height: 0;
	  overflow: hidden;
	  transition: .3s;
	}
	.site-navbar ul li {
	  width: 100%;
	  text-align: center;
	}
	.site-navbar ul li a {
	  padding: 25px;
	}
	.site-navbar ul li a:hover {
	  background-color: rgba(255,255,255,.1);
	}
	.site-navbar ul.open {
	  max-height: 100vh;
	  overflow: visible;
	}
	.intro-area h2 {
	  font-size: 36px;
	  margin-bottom: 15px;
	}  
	/* navbar css for mobile end */
  }
  /* mobile breakpoint end */

/* footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
} */

@keyframes fadeIn {
  from {
    opacity: 0; 
  }

  to {
    opacity: 1; 
  }
}


@keyframes ratingClick {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(40deg) translateY(-80px);
    opacity: 0;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Css for new navbar */
/* default css start */

 