

.home-boarder-box {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  }
  
  :root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
  }
/*   
  body {
    background: var(--light-bg);
    font-family: "Space Grotesk", sans-serif;
    color: var(--dark);
  } */
  
  h3 {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
  }
  
  .home-description {
    white-space: wrap;
  }
  
  .home-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }
  
  .home-box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 2rem;
    background: #fff;
    margin-left: 35%;
  }
  
  .home-box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
  }
  
  .home-box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
  }
  
  .home-title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
  }
  
  .home-user-follow-info {
    color: hsl(0, 0%, 60%);
  }
  
  .rating-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    padding: 16px;
    color: #000;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
  }

  .rating-buttons {
    display: flex;
  }
  
  .rating-button:hover {
    background: var(--blue);
  }
  
  .fill-one {
    background: var(--light-bg);
  }
  
  .fill-two {
    background: var(--pink);
  }
  
  /* RESPONSIVE QUERIES */
  
  @media (min-width: 320px) {
    .home-title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .home-user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 460px) {
    .home-title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    .home-user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 640px) {
    .home-box {
      flex-basis: calc(50% - 12px);
    }
    .home-title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .home-user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 840px) {
    .home-title-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    .home-user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1024px) {
    .home-box {
      flex-basis: calc(33.3% - 16px);
    }
    .home-title-flex {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .home-user-follow-info {
      margin-top: 6px;
    }
  }
  
  @media (min-width: 1100px) {
    .home-box {
      flex-basis: calc(25% - 18px);
    }
  }
  